.auth-page-layout{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.auth-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    border: 2px solid var(--blue-primary);
    border-radius: 8px;

    background-color: var(--bg-lightest);

    -webkit-box-shadow: 0px 8px 124px 0px rgba(146,174,203,1);
    -moz-box-shadow: 0px 8px 124px 0px rgba(146,174,203,1);
    box-shadow: 0px 8px 124px 0px rgba(146,174,203,1);
}

.auth-form{
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 32px;
    > h1{
        text-align: center;
    }
}
.auth-form-fields{
    display: grid;

    grid-template-columns: max-content 1fr;
    gap: 16px;
    align-items: center;

    > label{
        color: var(--blue-dark);
        font-size: var(--txt-1);
        font-weight: 700;
    }
    > input{
        border: 1px solid var(--blue-primary);
        border-radius: 4px;
        padding: 8px 16px;
        font-size: var(--txt-0);
        color: var(--blue-dark);

        &::placeholder{
            color: var(--blue-primary);
        }
    }
}

@media only screen and (max-width: 450px){
    .auth-form-fields{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        > input {
            width: 100%;
        }
    }
}

.auth-form-actions{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.auth-form-toggle{
    text-align: center;
    color: var(--blue-dark);
}

.auth-logo-container{
    max-width: 400px;
    width: 100%;
    > img{
        width: 100%;
    }
}