.side-nav{
    min-height: 100vh;
    background-color: var(--bg-transparent);
    backdrop-filter: blur(32px);

    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 32px 16px;

    border-right: 1px solid rgba(4,45,73,0.3);

    min-width: 150px;
}

.side-nav-btn{
    color: var(--blue-dark);
    text-decoration: none;
    font-size: var(--txt-0); 
    
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 4px 8px;
    border-radius: 4px;

    background-color: var(--bg-transparent);

    transition: background-color 0.3s ease-in-out;
}
.dark-theme .side-nav-btn img{
    filter: invert(49%) sepia(98%) saturate(2171%) hue-rotate(201deg) brightness(100%) contrast(101%);
}
.side-nav-btn:hover{
    background-color: var(--blue-primary);
}
.side-nav-btn.active{
    background-color: var(--blue-primary-highlight);
    font-weight: 800;
}

.theme-button{
    margin-top: auto;
    background: none;
    border: none;

    background-color: var(--blue-dark);
    color: var(--bg-lightest);
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
        filter: brightness(1.2);
    }
}

@media only screen and (max-width: 600px){
    .side-nav{
        min-width: 100px;
        padding: 32px 8px;
    }
    .side-nav-btn img{
        display: none;
    }
}

@media only screen and (max-width: 400px){
    .side-nav{
        min-width: auto;
    }
    .side-nav-btn{
        justify-content: center;
    }
    .side-nav-btn img{
        display: block;
    }
    .side-nav-btn span{
        display: none;
    }
}